@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
.tool-bar{
    display: block !important;
    padding: 15px 20px !important;
}
.nav-bar-items{
    float:right;
}
.blog-container{
    display: flex;
}
.side-nav{
    background-color: pink;
    flex-basis: 20%;
}
.logo{
    font-family: 'Satisfy', cursive;
}